/* Reset CSS pour des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    padding: 20px;
}

header {
    background-color: #6c4c5e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(33% - 10px); /* Réduit la largeur pour 3 produits par ligne avec 10px de marge */
    margin-bottom: 20px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#cart {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

#cart-items li:last-child {
    border-bottom: none;
}

button {
    background-color: #6c4c5e;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

button:hover {
    background-color: #563f48;
}

footer {
    background-color: #6c4c5e;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
